body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f3e9f1; }

/* HEADER */
.navbar {
  background-color: #f3e9f1; }

.navbar-brand {
  font-family: 'Finger Paint', cursive; }

.navicon {
  font-size: 2.5rem; }

.orinoco {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #f3e9f1; }

.size {
  font-size: 7.5rem; }

.para {
  font-size: 1rem; }

.brand {
  font-family: 'Finger Paint', cursive;
  font-size: 6rem; }

h3 {
  text-align: center; }

.icon-Capture-decran-2020-05-26-a-134723-3:before {
  content: "\e900";
  margin: 1rem;
  background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
  -webkit-background-clip: text;
  color: transparent; }

/* FEATURES */
.feature {
  background: white; }

.features {
  text-align: center;
  margin: 3rem; }

.icon {
  color: #c87a5e; }

/* PRESENTATION NEW SECTION */
.jumbotron {
  height: 800px;
  background: url(/images/teddytriste.jpg) no-repeat;
  background-size: 100%; }

.new-section p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem; }

.grad {
  background: -webkit-gradient(linear, left top, right bottom, from(orange), to(#9162f5));
  -webkit-background-clip: text;
  color: transparent; }

.btn-lg {
  margin-left: 45%;
  margin-top: 2rem; }

/* PRODUCTS PRESENTATION */
h4 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }

.card {
  width: 500px;
  height: 500px;
  box-shadow: 12px 12px 2px 1px #FFE4C4;
  padding: 1.5rem;
  margin: 1rem; }
  .card .card-text {
    display: none; }
  .card p {
    padding-top: 0.5rem; }

select {
  width: auto;
  border-color: #FFE4C4; }

.selection {
  margin: auto;
  margin-top: 2rem;
  border-color: #FFE4C4;
  color: #FFE4C4;
  width: 25%; }

/* PRODUCTS PAGE */
#choosenProduct {
  height: 70vh;
  background-color: white; }

.teddyImg {
  border: 1px solid black;
  margin: auto;
  width: 100%;
  height: 80%; }

.divButtons {
  display: flex;
  justify-content: space-around; }

.btn-outline-dark {
  width: 25%;
  margin-top: 2rem; }

.returnLink {
  color: black; }

.qtSelect {
  width: 5%; }

.imgInCart {
  width: 60px;
  height: 60px;
  margin-left: 1rem;
  padding-top: 1rem; }

table {
  background-color: white;
  padding: 1rem; }
  table th {
    width: 200px;
    padding: 1rem; }

#contact {
  text-align: center;
  padding-top: 2rem; }

.inCartImage {
  width: 60px;
  height: 60px; }
