body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-color: #fffff3;
}

/************************************************************ HEADER ************************************************************/
.navbar {
	background-color: #a593e0;
	color: #9162f5;
}

.navbar-brand {
	font-family: 'Finger Paint', cursive;
}

.navicon {
	font-size: 2.5rem;
}

.orinoco {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 200px;
	background-color: #a593e0;
}

.size {
	font-size: 7.5rem;
}

.brand {
	font-family: 'Finger Paint', cursive;
	font-size: 5rem;
	width: auto;
}

h3 {
	text-align: center;
}

.icon-Capture-decran-2020-05-26-a-134723-3:before {
	content: '\e900';
	margin: 1rem;
	background: -webkit-gradient(
		linear,
		left top,
		right bottom,
		from(orange),
		to(#9162f5)
	);
	-webkit-background-clip: text;
	color: transparent;
}

.footer {
	display: flex;
	justify-content: space-around;
	background: #a593e0;
	height: 50px;
	bottom: 0;
	width: 100%;
}
.icon-footer {
	margin: auto;
}

/************************************************************ FEATURES ************************************************************/
.feature {
	background: #e0e3da;
}
.feature .features {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.feature .features .icon {
	color: #c87a5e;
}

.error {
	color: red;
	-webkit-animation: loading 3s infinite;
}
/* @-webkit-keyframes loading {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } } */

/* ***********************************************************PRESENTATION NEW SECTION ************************************************************/
.new-section p {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 2rem;
}

#teddyHeader {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.grad {
	background: -webkit-gradient(
		linear,
		left top,
		right bottom,
		from(orange),
		to(#9162f5)
	);
	-webkit-background-clip: text;
	color: transparent;
}

.btn-lg {
	margin-left: 45%;
	margin-top: 2rem;
}

/************************************************************ PRODUCTS PRESENTATION ************************************************************/
h2 {
	font-family: 'Finger Paint', cursive;
}

h4 {
	color: black;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Finger Paint', cursive;
}

.card {
	width: 420px;
	height: 500px;
	box-shadow: 12px 12px 2px 1px #e0e3da;
	padding: 1.5rem;
	margin: auto;
	margin-bottom: 3rem;
}
.card .card-text {
	display: none;
}
.card p {
	padding-top: 0.5rem;
}

.card-image-top {
	margin: auto;
	width: 50%;
}

#teddiesContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-bottom: 100px;
}

select {
	width: auto;
	border-color: #ffe4c4;
}

.buttonPosition {
	display: flex;
	justify-content: space-around;
}

/************************************************************* PRODUCTS PAGE *************************************************************/
#choosenProduct {
	height: auto;
	padding: 2rem;
	background-color: white;
	box-shadow: 12px 12px 2px 1px #e0e3da;
	margin-bottom: 150px;
}

.teddyImg {
	margin: auto;
	width: 100%;
	height: 80%;
}

.divButtons {
	display: flex;
	justify-content: space-around;
}

.btn-outline-dark {
	width: 25%;
	margin-top: 2rem;
}

.btn-outline-dark:hover {
	background-color: #a593e0;
}

.imgInCart {
	width: 60px;
	height: 60px;
	margin-left: 1rem;
	padding-top: 1rem;
}

table {
	width: 400px;
	background-color: white;
	padding: 1rem;
}
table th {
	width: 200px;
	padding: 1rem;
}
table td button {
	margin-left: 40%;
}

#showform {
	display: none;
}

.inCartImage {
	width: 60px;
	height: 60px;
}

#order {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#hideafterconfirmation {
	margin-bottom: 100px;
}

#orderForm {
	margin-bottom: 100px;
}

#btnSubmit {
	color: black;
	border-color: black;
	background: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#btnSubmit:hover {
	background: #a593e0;
	color: white;
}

.checkout {
	margin-top: 1rem;
}

.form-group.error input {
	border: 1px solid red;
}

.form-group .error label {
	color: red;
}

.form-group.error::after {
	content: 'Invalid input, please try again';
	display: block;
	color: red;
	padding: 5px 0;
	font-size: 0.9rem;
}

#contact {
	text-align: center;
	padding-top: 2rem;
}

#greetingUser {
	display: flex;
	flex-direction: column;
	margin: auto;
	height: auto;
	background-color: white;
	padding: 0.8rem;
	margin-top: 100px;
	box-shadow: 12px 12px 2px 2px #e0e3da;
	border-radius: 5px;
}
